.btn {
    background: $red;
    padding: rem(8px) rem(15px);
    border-radius: rem(5px);
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    font-family: "Ubuntu-Medium";
    font-size: rem(13px);
    border: none;
    outline: none;
    cursor: pointer;
    

    &_background_black {
       background: #000; 
    }
}