.hero {
    background: url("../../img/bg/hero-bg.jpg") center center / cover no-repeat;
}
.hero__container {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.hero__order-btn {
    margin-left: 15px;
}
.hero__content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -100px;
    flex: .75;
}
.hero__content-desc {
    color: #fff;
    font-size: 55px;
    font-family: "Lifehack-Medium";
    margin-top: -50px;   
    margin-bottom: -28px;
}