.hero {
    background: url("../img/bg/hero-bg.jpg") center center / cover no-repeat;
}
.hero__container {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.hero__order-btn {
    margin-left: rem(15px);
}
.hero__content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: rem(-100px);
    flex: .75;
    @include tablets {                  
        flex-direction: column;
        align-items: center;
    }
}
.hero__burger-img {
    max-width: 100%;                    // Без этого картинка не сжималась
}
.hero__content-text {                   
    @include tablets {
        text-align: center;
    }
}
.hero__content-desc {
    color: #fff;
    font-size: rem(55px);
    font-family: "Lifehack-Medium";
    margin-top: rem(-50px);   
    margin-bottom: rem(-28px);
}