.how-we-work {
    background: url("../../img/bg/how-we-work-bg.jpg") center center /cover no-repeat;
    width: 100%;
}
.video {
    width: rem(640px);
    height: rem(400px);
    background-color: indianred;
}
.how-we-work__title {
    @include tablets {
        white-space: normal;
    }
}