.menu-main {
    background: url("../../img/bg/menu-bg_big.jpg") center center /cover no-repeat;
    width: 860px;
    height: 100%;
}
.title_menu {
    color: #fff;
    padding-top: 109px;
    padding-left: 93px;
}
.menu-meatarian {
    background: url("../../img/bg/menu-bg_small_1.jpg") center center /cover no-repeat;
    width: 80px;
    height: 100%;
}
.menu-vegetarian {
    background: url("../../img/bg/menu-bg_small_2.jpg") center center /cover no-repeat;
}
.menu-dietetic {
    background: url("../../img/bg/menu-bg_small_3.jpg") center center /cover no-repeat;
}