.order {
    background: url("../img/bg/order-bg.jpg") center center no-repeat / cover;
}
.order-title {
    text-align: center;
}
.form {
	display: flex;
	justify-content: center;
	width: 60%;
    margin: 0 auto;
    justify-content: space-between;
	@include tablets {
		flex-direction: column;
		width: 90%;
	}
}
.form__right, .form__left {
    width: 50%;
}
.form__left {
	margin-left: 1%;			
}
.form__row {
	display: flex;
	justify-content: space-between;
}
.form__field-name {
	width: 100%;
	font-family: "Ubuntu-Light";
    font-size: rem(14px);
	color: #fff;
	display: flex;
	flex-direction: column;
	margin-top: rem(40px);
}
.form__input {
    border-radius: rem(5px);
    background: #fff;   
    border: none;
    padding: rem(5px) rem(10px);
	margin-right: rem(20px);
	&:focus {
		outline: $yellow;
	}
}
.form__input_name,.form__input_phone {
	max-width: rem(220px);
	// width: 24%;    
}
.form__input_street {
	max-width: rem(460px);
	// width: 49%;
}
.form__input_house,.form__input_building,
.form__input_appartment,.form__input_floor {
	max-width: rem(100px);
	// width: 11%;
}
.form__input_comments {
	max-width: rem(460px);
	// width: 49%;
    height: rem(111px);
    resize: none;
}
.form__radios {							// Обёртка радиокнопок (строка №313)
	width: 100%;
	display: flex;
	align-items: center;
	margin-top: rem(20px);
}
.form__radio {							// Лэйблы (строки №314, 319)	
	display: flex;
	margin-right: rem(20px);
	position: relative;					// Задаётся сюда, т.к. это родитель
}
.form__radio-elem {						// Настоящие нестилизуемые радиокнопки (строки №315, 320)
	position: absolute;
	left:rem(-9999px);
}
.form__radio-fake {						// Самодельные кружки радиокнопок (строки №316, 321)
	width: rem(20px);
	height: rem(20px);
	border-radius: 50%;
	border: rem(1px) solid #cacaca;
	position: relative;					// Нужно для позиционирования точки внутри кружка радиокнопки
	margin-right: rem(5px);
	cursor: pointer;
}
.form__radio-title {
	color: #fff;
}
.form__radio-fake::after {				// Пустота внутри неактивной радиокнопки
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 0;
	height: 0;
	border-radius: 50%;
	background: $orange;
}
.form__radio-elem:checked + .form__radio-fake::after { // Активная самодельная точка в радиокнопке
	width: rem(8px);							// Переопределяются свойства размеров из предыдущего правила
	height: rem(8px);		
}
.form__radio-elem:checked + .form__radio-fake {	// Активный кружок оранжевого цвета для радиокнопки
	border-color: $orange;
}
.form__radio-elem:checked + .form__radio-fake + .form__radio-title {
	color: $orange;;
}
input[type="radio"] {
	display: inline-block;
}
.form__radio-title {
	font-size: rem(14px);
	font-weight: 300;	
}
.form__radios {
	margin-bottom: rem(27px);
}
.form__row_column {
	flex-direction: column;							// Без этого чекбокс не вставал под радиокнопками
}
// https://habr.com/ru/sandbox/113454/
input[type="checkbox"]:checked, 					// Убирание стандартного отображения элемента за область видимости
input[type="checkbox"]:not(:checked) {
    position: absolute;
    left: rem(-9999px);
}
input[type="checkbox"]:checked + label, 			// Отступ для метки
input[type="checkbox"]:not(:checked) + label {
    display: inline-block;
    position: relative;
    padding-left: rem(28px);
    line-height: rem(20px);
    cursor: pointer;
}
input[type="checkbox"]:checked + label:before, 		// Квадрат для чекбокса
input[type="checkbox"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: rem(0px);
    top: rem(0px);
    width: rem(16px);
    height: rem(16px);
    border: rem(1px) solid #dddddd;
	background-color: #ffffff;
	border-radius: rem(2px);
}
input[type="checkbox"]:checked + label:after, 		// Галка для квадрата чекбокса
input[type="checkbox"]:not(:checked) + label:after {
    content: "";
    position: absolute;
	transition: all 0.2s ease;
	left: rem(3px);
    top: rem(3px);
    width: rem(10px);
    height: rem(5px);
    border-radius: rem(1px);
    border-left: rem(4px) solid $orange;
    border-bottom: rem(4px) solid $orange;
    transform: rotate(-45deg);
}
input[type="checkbox"]:not(:checked) + label:after{		// Сокрытие неактивной галки (до выбора)
    opacity: 0;
}
input[type="checkbox"]:checked + label:after {			// Отображение галки при выборе
    opacity: 1;
}
.form__radio-title,.form__checkbox-title {
	font-family: "Ubuntu-Light";
	font-size: rem(14px);
	color: #fff;
	white-space: nowrap;
}
.order__btn {
	margin-top: rem(20px);
}
// https://medium.com/@baradusov/%D1%81%D1%82%D0%B8%D0%BB%D0%B8%D0%B7%D1%83%D0%B5%D0%BC-%D0%BA%D0%BD%D0%BE%D0%BF%D0%BA%D0%B8-%D0%BF%D1%80%D0%B0%D0%B2%D0%B8%D0%BB%D1%8C%D0%BD%D0%BE-6ea5abc278b1
.order__reset {
	padding: 0;
	border: none;
	outline: none;
	font-family: "Ubuntu-Light";
	color: inherit;
	background-color: transparent;
	cursor: pointer;
	color: #fff;
	margin-left: rem(21px);
}