.reviews {
    background: #000;
    position: relative;
}
.reviews__list {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}
.reviews__item {
    width: 25%;
    height: 50%;
    background: center center / cover no-repeat;
    position: relative;
    filter: grayscale(100%);
    @include tablets {
        width: 50%;
        height: 25%;
    }

    &:hover {
        .reviews__item-hover {
            opacity: 1;
        }

    }
}
.reviews__item-hover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(#000, .5);
    padding: rem(10px);
    color: #fff;
    opacity: 0;
    transition: opacity .3s;
    padding: rem(45px) rem(32px)
}
.reviews__title {
    font-family: 'Gagalin-Regular';
    font-size: rem(14px);
}
.reviews__text {
    margin-top: rem(28px);
    font-family: "Ubuntu-Light";
    font-size: rem(14px);
    line-height: 2;
    margin-bottom: rem(17px);    
}
.btn_background_black {
    padding: rem(11px);
    background: #2f3234; 
}
