.team {
    background: url("../../img/bg/team-bg.jpg") center center /cover no-repeat;
    position: relative;
}
.team__wrapper {
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    width: 50%;
    height: 100%;
    background:rgba(44,47,49,0.93);
    padding: rem(113px) rem(97px) rem(146px) rem(99px);
    @include tablets {
        left: 0;
        right: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
     
    }
} 
.accordeon__list {
    margin-left: rem(20px);
    @include tablets {
        text-align: center;
    }
}
.accordeon__item {
    margin-bottom: rem(38px);
    cursor: pointer;
    &:last-child {
        margin-bottom: 0;
    }    
}
.accordeon__name {
    font-family: "Gagalin-Regular";
    color: #fff;
    position: relative;
    display: inline-flex;                      // Для выравнивания треугольничков по центру. Блок занимает не всю ширину, а только ширину равную ширине текста внутри блока
}
.accordeon__name::before {
    content: '';   
    display: block;
    position: absolute;
    left: rem(-19px);
    top: rem(9px);
    width: 0;
    height: 0;
    border-top: rem(7px) solid $yellow;
    border-right: rem(5px) solid transparent;
    border-left: rem(5px) solid transparent;
    transform: rotate(0deg);
    transition: 0.3s;
}
.accordeon__item.active .accordeon__name::before {
    transform: rotate(180deg);
    transition: 0.5s;
}
.accordeon__person {
    display: none;
    margin-top: rem(19px);
}
.accordeon__item.active .accordeon__person {
    display: flex;
    align-items: center;
    @include tablets {
        flex-direction: column;
    }
}
.accordeon__item.active .accordeon__name {
    color: $yellow;
}
.accordeon__text {
    margin-left: rem(22px);
    font-size: rem(14px);
    color: #fff;
    width: rem(210px);
}
.accordeon__job {
    font-family: "Ubuntu-Bold";
}
.accordeon__desc {
    margin-top: rem(10px);
    font-family: "Ubuntu-Light";
    line-height: 2;
}
