html {
  font-size: 16px; // Добавлено для адаптивной версии

  @include tablets() {
    // Добавлено для адаптивной версии
    font-size: 14px;
  }
  @include phones() {
    // Добавлено для адаптивной версии
    font-size: 13px;
  }
}

html,
body {
  height: 100%;
}

body {
  font-size: rem(16px);
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  // color: $black;
}

.wrapper {
  overflow: hidden;                 // Гарантия того, что не появится горизонтальный скролл
  height: 100%;                     // Убирает вертикальный скрол (для One Page Scroll)
  width: 100%;
  // min-width: 960px;              // Убрано для адаптивной версии
  position: relative;
}
.main-content {
  height: 100%;
  transition: transform 1s;
  will-change: transform;           // Выносит блок на отдельный компонентный слой (слои, которыми браузер рендерит страницу)
}
.container {
  // width: 940px;                  // Убрано для адаптивной версии
  position: relative;
  max-width: rem(940px);
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  @include phones {
    width: 95%;
  }
}

.section {
  height: 100vh;
  min-height: rem(650px);

  &_centered {
    title {
      width: 100%;
      text-align: center;
    }
    .container {
      height: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
  }
}

// tag styles reset
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul {
  padding: 0;
  margin: 0;
  li {
    list-style: none;
  }
}

p {
  padding: 0;
  margin: 0;
}

footer {
  position: relative;
  width: 100%;
}

* {
  box-sizing: border-box;
}

.section {
  min-height: rem(650px);

  &_centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.section-title {
  font-size: rem(72px);
  // @include gagalin();
  // color: $yellow;
  margin-bottom: rem(40px);

  &_color {
    &_black {
      // color: $black;
    }
  }

  &_position {
    &_center {
      text-align: center;
    }
  }
}
